AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README

*.lo
*.o
.deps/
.libs/
*.la

Makefile
Makefile.in

aclocal.m4
autom4te.cache/
.cache/

config.h.in
config.h
config.log
config.status
configure

compile
config.guess
config.sub
depcomp
install-sh
libtool
stamp-h1
missing

ltmain.sh

m4/
